<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head02('SIGNIN','alien02.png')}"></head>
<header th:replace="~{fragment/header}"></header>

<body>
<div class="container">
    <h1 class="mb-5 mt-5">DELETE</h1>
    <form action="" th:action="@{/board/delete}" method="post">
        <input type="hidden" name="id" value="27" th:value="${param.id}">
        <div class="mb-3">
            <label  class="form-label">PASSWORD</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="mt-3">
            <button class="btn btn-danger">DELETE</button>
            <a href="" th:href="@{/board/list}" class="btn btn-primary">LIST</a>
        </div>
    </form>
</div>
<head th:replace="~{fragment/footer}"></head>

</body>
</html>