<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head02('SIGNIN','alien02.png')}"></head>
<header th:replace="~{fragment/header}"></header>
<body>
<div class="container">
    <h1 class="mb-5 mt-5">LIST</h1>
<!--    <h1 class="mb-5 mt-5" th:text="${session.userName}">장성호</h1>-->
    <table class="table table-striped">
        <colgroup>
            <col style="width:80px">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th scope="col">NO</th>
                <th scope="col">TITLE</th>
                <th scope="col">WRITER</th>
                <th scope="col">DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="boardItem : ${boardList}">
                <th scope="row" th:text="${boardItemStat.count}">1</th>
                <td>
                    <a href="" th:href="@{/board/view/{id}(id=${boardItem.id})}"
                       th:text="${boardItem.title}">
                    </a>
                    <span th:text="${boardItem.comments.size()}"></span>
                </td>
                <td th:text="${boardItem?.writer?.userName}"></td>
                <td th:text="${#temporals.format(boardItem?.regDate,'YYYY-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <p th:text="|${pagination.getTotalElements()}의 결과가 있습니다.|"></p>
    <nav aria-label="Page navigation example"
         class="mt-5-mb-5 d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:classappend="${!pagination.hasPrevious()} ? 'disabled'">
                <a class="page-link" href="#">Previous</a>
            </li>
            <th:block th:each="page : ${#numbers.sequence(0,pagination.totalPages - 1)}">
                <li class="page-item" th:if="${page>=start && page < end}">
                    <a class="page-link" href="#" th:text="${page+1}">1</a>
                </li>
            </th:block>

            <li class="page-item"  th:classappend="${!pagination.hasNext()} ? 'disabled'">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    <div class="mt-5 container">
        <form action="" th:action="@{/board/search}" method="get">
            <div class="row">
                <div class="col-4">
                    <select class="form-select" name="category">
                        <option value="all">ALL</option>
                        <option value="title">TITLE</option>
                        <option value="content">CONTENT</option>
                        <option value="writer">WRITER</option>
                    </select>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="keyword">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary">SEARCH</button>
                </div>

            </div>
        </form>
    </div>
<!--    <nav aria-label="Page navigation example my-5">-->
<!--        <ul class="pagination">-->
<!--            <li class="page-item" th:classappend="${!boardList.hasPrevious()} ? 'disabled'">-->
<!--                <a class="page-link" href="#"-->
<!--                   th:href="@{|/board/list?page=${boardList.number-1}|}">Previous</a>-->
<!--            </li>-->
<!--            &lt;!&ndash;th:if&ndash;&gt;-->
<!--            &lt;!&ndash;  0~5  6~10  11~15  16~20  &ndash;&gt;-->
<!--            <th:block th:each="page :-->
<!--                                ${#numbers.sequence(0,boardList.totalPages - 1)}">-->
<!--                <li class="page-item" th:classappend="${page==boardList.number}?'active'"-->
<!--                    th:if="${page >= start && page < end}"-->
<!--                >-->
<!--                    <a class="page-link" href="#" th:text="${page+1}"-->
<!--                       th:href="@{|/board/list?page=${page}|}">1</a>-->

<!--                </li>-->
<!--            </th:block>-->
<!--            &lt;!&ndash;      <li class="page-item"><a class="page-link" href="#">2</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;      <li class="page-item"><a class="page-link" href="#">3</a></li>&ndash;&gt;-->
<!--            <li class="page-item" th:classappend="${!boardList.hasNext()} ? 'disabled'">-->
<!--                <a class="page-link" href="#"-->
<!--                   th:href="@{|/board/list?page=${boardList.number+1}|}">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
    <div class="mt-5"><a href="" th:href="@{/board/write}" class="btn btn-primary">WRITE</a></div>
</div>
<script th:replace="~{fragment/footer}"></script>
</body>
</html>