<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head02('SIGNIN','alien02.png')}"></head>
<header th:replace="~{fragment/header}"></header>

<body>
<div class="container">
    <h1 class="mb-5 mt-5">LIST</h1>
    <table class="table table-striped">
        <colgroup>
            <col style="width:80px">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th>ID</th>
            <td th:text="${boardDto.id}">1</td>
        </tr>
        <tr>
            <th>TITLE</th>
            <td th:text="${boardDto.title}">1</td>
        </tr>
        <tr>
            <th>CONTENT</th>
            <td th:text="${boardDto.content}">1</td>
        </tr>
        </tbody>
    </table>
    <div class="mt-5">
        <a href="" th:href="@{/board/write}" class="btn btn-primary">WRITE</a>
        <a href="" th:href="@{/board/list}" class="btn btn-primary">LIST</a>
        <a href="" th:href="@{/board/delete/{id}(id=${boardDto.id})}" class="btn btn-danger">DELETE-PATH</a>
        <a href="" th:href="@{/board/delete-param(id=${boardDto.id})}" class="btn btn-danger">DELETE-PARAM</a>
    </div>
</div>
<script th:replace="~{fragment/footer}"></script>

</body>
</html>