<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head02('SIGNIN','alien02.png')}"></head>
<header th:replace="~{fragment/header}"></header>
<body>
<div class="container">
    <h1 class="mb-5 mt-5">WRITE</h1>
    <form action="" th:action="@{/board/write}" method="post" th:object="${boardDto}">
        <div class="mb-3">
            <label class="form-label">TITLE</label>
            <input type="text" class="form-control" th:field="*{title}" placeholder="제목을 쓰세요">
            <div class="valid-feedback" th:errors="*{title}">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label  class="form-label">CONTENT</label>
            <textarea class="form-control" th:field="*{content}" rows="5"></textarea>
            <div class="valid-feedback" th:errors="*{content}">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label  class="form-label">PASSWORD</label>
            <input type="password" class="form-control" th:field="*{password}">
            <div class="valid-feedback" th:errors="*{password}">
                Looks good!
            </div>
        </div>


        <div class="mt-3"><button class="btn btn-primary">WRITE</button> </div>
    </form>
</div>
<head th:replace="~{fragment/footer}"></head>

</body>
</html>